AuthType Basic
AuthName "Wordpress Protected Area"
AuthUserFile /opt/lampp/htdocs/glyphgames.com/wp-glyphadmin/passwords
Require valid-user
<Files admin-ajax.php>
 Order allow,deny
 Allow from all
 Satisfy any
</Files>
<Files "\.(css|gif|png|js)$">
 Order allow,deny
 Allow from all
 Satisfy any
</Files>
